services:
  - type: web
    name: vkinfotech-backend
    env: node
    plan: free
    rootDir: server
    buildCommand: npm install
    startCommand: node index.js
    envVars:
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
    autoDeploy: false

